<h1> New Link </h1>

<form action='/links' method='POST'>
  <label for='title'>
    Title:
    <input type='text' name='Title' />
  </label>
  <label for='url'>
    URL:
    <input type='text' name='URL' />
  </label>
  <label for='tag'>
    Tags:
    <input type='text' name='tag' />
  </label>
  <input type='submit' value='Save' />

</form>
